<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/formbasic.css">
    <script src="/static/javascript/formMessageApi.js"></script>
    <title>{{form_name}} Form</title>
</head>
<body>
    <header>
        <h1>{{form_name}} Form</h1>
        <p>Welcome to {{form_name}} form.</p>
        <p>The form created by {{user_name}}</p>
    </header>



    <main>
        <p>Have fun 😎</p>
        <form id="messageForm">
            <label for="title">New Form Title:</label>
            <input type="text" id="title" name="title" required><br>
    
            <label for="content">Form title's content:</label>
            <textarea id="content" name="content" required></textarea><br>
    
            <button type="submit">Create Form post title</button>
        </form>
    
    </main>

    <h2>eski mesajlar:</h2>

    <div class="message-container" id="formMessages">
        <!-- Messages will be dynamically added here -->
    </div>

    <div class="footer">
        <p>&copy; 2023 Anime Forum</p>
    </div>

    <script>
        // Fetch messages when the page loads
        window.onload = () => fetchAndDisplayMessages('{{form_name}}');

        // Event listener for the message form
        document.getElementById('messageForm').addEventListener('submit', function (e) {
            e.preventDefault();
            AddFormTitleMessage('{{form_name}}');
        });
    </script>
  
</body>
</html>
