@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  
}

p{
  color: rgb(2, 2, 36);
}

@media (hover: hover) {
  
}

@media (min-width: 1024px) {
  body {
  }
  

  #app {
    
  }
}
